<!DOCTYPE html>
<html>

<head>
    <title>About</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <h2>About Page</h2>
            <p>
                <%= message %>
            </p>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>